@import 'variables';
.book-form {
  @include elementBorderStyle(1px, solid, black); 
  width: 390px;
  background: $blockBackground;
  padding: 5px;
  padding-right: 20px;
  .form-input-text {
    width: 400px;
  }
}
