<script id="books-template" type="text/x-handlebars-template">
	<title>Книжная полка</title>
	<form id="addBookButtonForm">
		<h1>Книжная полка</h1>
		<input type="button" value="Добавить книгу" onclick="showAddForm()">
	</form><br>
	<table class="books-list">
		{{#each []}}
			<tr>
				<td class="books-list-cell"><img class="book-cover" src="{{cover}}"></img></td>
				<td class="books-list-cell"><p> Название: {{name}} </p><p> Автор: {{author}} </p><p> Год: {{year}} </p></p></td>
				<td class="books-list-cell"><button id="{{@index}}" onclick="inputEditDetails(this)">Редактировать</button><button id="{{@index}}" onclick="deleteBook(this)">Удалить</button></td>
			</tr>
		{{/each}}
	</table>
</script>