<script id="forms-template" type="text/x-handlebars-template">
	<form>
		<strong>{{label}}</strong><br><br>

		<label for="name">Название: </label>
		<input class="form-input-text" type="text" placeholder="Имя" id={{nameId}}><br><br>

		<label for="author">Автор: </label>
		<input class="form-input-text" type="text" placeholder="Автор" id={{authorId}}><br><br>

		<label for="year">Год выпуска: </label>
		<input class="form-input-text" type="text" placeholder="Год выпуска" id={{yearId}}><br><br>

		<label for="cover">Обложка: </label>
		<input class="form-input-text" type="text" placeholder="Имя.формат или URL" id={{coverId}}><br><br>

		<input type="button" value="Сохранить" onclick="{{saveBook}}">

	</form>
	<form action="">
		<input type="button" value="Отмена" onclick={{cancel}}>
	</form>
</script>