@import 'variables';
.books-list {
  border-collapse: collapse;
  background: $blockBackground;
  .books-list-cell {
    @include elementBorderStyle(10px, solid, white); 
    padding: 3px;
    text-align: center;
    width: 1250px;
    .book-cover {
      width: 200px;
    }
  }
}
